USE [master]
GO
/****** Nesnesi: Database [ETicaret] Betik Tarihi: 6.07.2026 19:52:12 ******/
CREATE DATABASE [ETicaret]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ETicaret', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ETicaret.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ETicaret_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ETicaret_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ETicaret].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ETicaret]
GO
/****** Nesnesi: UserDefinedFunction [dbo].[fn_KDVHesapla] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_KDVHesapla]
(
	@Tutar DECIMAL(10,2)
)
RETURNS DECIMAL(10,2)
AS
BEGIN
	RETURN @TUTAR * 1.20
END
GO
/****** Nesnesi: UserDefinedFunction [dbo].[fn_OrtalamaPuan] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_OrtalamaPuan]
(
    @UrunID INT
)
RETURNS DECIMAL(3,2)
AS
BEGIN

DECLARE @Ortalama DECIMAL(3,2);

SELECT @Ortalama=AVG(CAST(Puan AS DECIMAL(3,2)))
FROM Yorumlar
WHERE UrunID=@UrunID;

RETURN ISNULL(@Ortalama,0);

END;
GO
/****** Nesnesi: UserDefinedFunction [dbo].[fn_ToplamHarcama] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ToplamHarcama]
(
    @MusteriID INT
)
RETURNS DECIMAL(10,2)
AS
BEGIN

    DECLARE @Toplam DECIMAL(10,2);

    SELECT @Toplam = ISNULL(SUM(ToplamTutar),0)
    FROM Siparisler
    WHERE MusteriID=@MusteriID;

    RETURN @Toplam;

END;
GO
/****** Nesnesi: Table [dbo].[Siparisler] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NULL,
	[SiparisTarihi] [datetime] NULL,
	[ToplamTutar] [decimal](10, 2) NULL,
	[Durum] [nvarchar](50) NULL,
 CONSTRAINT [PK_Siparisler] PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Musteriler] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Telefon] [nvarchar](15) NULL,
	[Sifre] [nvarchar](50) NULL,
	[KayitTarihi] [date] NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[vw_MusteriSiparisleri] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_MusteriSiparisleri]
as
select
	m.Ad,
	m.Soyad,
	s.SiparisID,
	s.ToplamTutar,
	s.Durum
from Musteriler M
inner join Siparisler S
on m.MusteriID = s.MusteriID
GO
/****** Nesnesi: View [dbo].[vw_MusteriSiparisOzeti] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_MusteriSiparisOzeti]
AS
SELECT
    m.MusteriID,
    m.Ad,
    m.Soyad,
    COUNT(s.SiparisID) AS SiparisSayisi,
    SUM(s.ToplamTutar) AS ToplamHarcama
FROM Musteriler m
LEFT JOIN Siparisler s
ON m.MusteriID = s.MusteriID
GROUP BY
    m.MusteriID,
    m.Ad,
    m.Soyad;
GO
/****** Nesnesi: Table [dbo].[SiparisDetay] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetay](
	[SiparisDetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NULL,
	[UrunID] [int] NULL,
	[Adet] [int] NULL,
	[BirimFiyati] [decimal](10, 2) NULL,
 CONSTRAINT [PK_SiparisDetay] PRIMARY KEY CLUSTERED 
(
	[SiparisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Urunler] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](50) NULL,
	[Fiyat] [decimal](10, 2) NULL,
	[Stok] [int] NULL,
	[Aciklama] [nvarchar](250) NULL,
	[KategoriID] [int] NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[vw_EnCokSatanUrunler] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EnCokSatanUrunler]
AS
SELECT
    u.UrunID,
    u.UrunAdi,
    SUM(sd.Adet) AS ToplamSatis
FROM Urunler u
JOIN SiparisDetay sd
ON u.UrunID = sd.UrunID
GROUP BY
    u.UrunID,
    u.UrunAdi;
GO
/****** Nesnesi: Table [dbo].[Adresler] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresler](
	[AdresID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NULL,
	[Sehir] [nvarchar](50) NULL,
	[Ilce] [nvarchar](50) NULL,
	[AcikAdres] [nvarchar](250) NULL,
	[PostaKodu] [nvarchar](10) NULL,
 CONSTRAINT [PK_Adresler] PRIMARY KEY CLUSTERED 
(
	[AdresID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Kargo] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kargo](
	[KargoID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NULL,
	[KargoFirmasi] [nvarchar](50) NULL,
	[TakipNo] [nvarchar](50) NULL,
	[KargoDurumu] [nvarchar](30) NULL,
	[TeslimTarihi] [date] NULL,
 CONSTRAINT [PK_Kargo] PRIMARY KEY CLUSTERED 
(
	[KargoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Kategoriler] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](250) NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Odemeler] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemeler](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NULL,
	[OdemeTuru] [nvarchar](30) NULL,
	[OdemeTarihi] [datetime] NULL,
	[Tutar] [decimal](12, 2) NULL,
 CONSTRAINT [PK_Odemeler] PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Yorumlar] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[YorumID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NULL,
	[UrunID] [int] NULL,
	[Puan] [int] NULL,
	[YorumMetni] [nvarchar](250) NULL,
	[YorumTarihi] [datetime] NULL,
 CONSTRAINT [PK_Yorumlar] PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adresler] ON 

INSERT [dbo].[Adresler] ([AdresID], [MusteriID], [Sehir], [Ilce], [AcikAdres], [PostaKodu]) VALUES (1, 1, N'İstanbul', N'Bahçelievler', N'Zafer Mah. Canan Sok. 44/10', N'34197')
INSERT [dbo].[Adresler] ([AdresID], [MusteriID], [Sehir], [Ilce], [AcikAdres], [PostaKodu]) VALUES (2, 2, N'Ankara', N'Çankaya', N'Kızılay Cad. No:22', N'06420')
INSERT [dbo].[Adresler] ([AdresID], [MusteriID], [Sehir], [Ilce], [AcikAdres], [PostaKodu]) VALUES (3, 3, N'İstanbul', N'Zeytinburnu', N'Feryat Cad. No:18', N'34089')
GO
SET IDENTITY_INSERT [dbo].[Adresler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kargo] ON 

INSERT [dbo].[Kargo] ([KargoID], [SiparisID], [KargoFirmasi], [TakipNo], [KargoDurumu], [TeslimTarihi]) VALUES (1, 1, N'Yurtiçi Kargo', N'YK123456', N'Yolda', CAST(N'2026-06-25' AS Date))
INSERT [dbo].[Kargo] ([KargoID], [SiparisID], [KargoFirmasi], [TakipNo], [KargoDurumu], [TeslimTarihi]) VALUES (2, 2, N'Aras Kargo', N'AK123456', N'Teslim Edildi', CAST(N'2026-06-22' AS Date))
INSERT [dbo].[Kargo] ([KargoID], [SiparisID], [KargoFirmasi], [TakipNo], [KargoDurumu], [TeslimTarihi]) VALUES (3, 3, N'MNG Kargo', N'MG123457', N'Hazırlanıyor', CAST(N'2026-06-26' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Kargo] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [Aciklama]) VALUES (1, N'Bilgisayar', N'Laptop, masaüstü ve aksesuar ürünleri')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [Aciklama]) VALUES (2, N'Telefon', N'Akıllı telefon ve mobil cihazlar')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [Aciklama]) VALUES (3, N'Saat', N'Kol saatleri')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Email], [Telefon], [Sifre], [KayitTarihi]) VALUES (1, N'Ahmet', N'Nefesoğlu', N'ahmetnefesoglu@gmail.com', N'05554446677', N'ahmet123', CAST(N'2026-06-23' AS Date))
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Email], [Telefon], [Sifre], [KayitTarihi]) VALUES (2, N'Yaz', N'Demir', N'yazdemir@gmail.com', N'05445556622', N'yaz123', CAST(N'2026-06-23' AS Date))
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Email], [Telefon], [Sifre], [KayitTarihi]) VALUES (3, N'Sena', N'Yeliz', N'senayeliz@gmail.com', N'05332221236', N'sena123', CAST(N'2026-06-20' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Odemeler] ON 

INSERT [dbo].[Odemeler] ([OdemeID], [SiparisID], [OdemeTuru], [OdemeTarihi], [Tutar]) VALUES (1, 1, N'Kredi Kartı', CAST(N'2026-06-23T00:00:00.000' AS DateTime), CAST(38999.00 AS Decimal(12, 2)))
INSERT [dbo].[Odemeler] ([OdemeID], [SiparisID], [OdemeTuru], [OdemeTarihi], [Tutar]) VALUES (2, 2, N'Havale', CAST(N'2026-06-24T00:00:00.000' AS DateTime), CAST(80000.00 AS Decimal(12, 2)))
INSERT [dbo].[Odemeler] ([OdemeID], [SiparisID], [OdemeTuru], [OdemeTarihi], [Tutar]) VALUES (3, 3, N'Kredi Kartı', CAST(N'2026-06-24T11:00:00.000' AS DateTime), CAST(25000.00 AS Decimal(12, 2)))
GO
SET IDENTITY_INSERT [dbo].[Odemeler] OFF
GO
SET IDENTITY_INSERT [dbo].[SiparisDetay] ON 

INSERT [dbo].[SiparisDetay] ([SiparisDetayID], [SiparisID], [UrunID], [Adet], [BirimFiyati]) VALUES (1, 1, 1, 1, CAST(38999.00 AS Decimal(10, 2)))
INSERT [dbo].[SiparisDetay] ([SiparisDetayID], [SiparisID], [UrunID], [Adet], [BirimFiyati]) VALUES (2, 2, 2, 1, CAST(80000.00 AS Decimal(10, 2)))
INSERT [dbo].[SiparisDetay] ([SiparisDetayID], [SiparisID], [UrunID], [Adet], [BirimFiyati]) VALUES (3, 1, 1, 1, CAST(38999.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[SiparisDetay] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparisler] ON 

INSERT [dbo].[Siparisler] ([SiparisID], [MusteriID], [SiparisTarihi], [ToplamTutar], [Durum]) VALUES (1, 1, CAST(N'2026-06-23T00:00:00.000' AS DateTime), CAST(38999.00 AS Decimal(10, 2)), N'Hazırlanıyor')
INSERT [dbo].[Siparisler] ([SiparisID], [MusteriID], [SiparisTarihi], [ToplamTutar], [Durum]) VALUES (2, 2, CAST(N'2026-06-23T00:00:00.000' AS DateTime), CAST(80000.00 AS Decimal(10, 2)), N'Kargoda')
INSERT [dbo].[Siparisler] ([SiparisID], [MusteriID], [SiparisTarihi], [ToplamTutar], [Durum]) VALUES (3, 1, CAST(N'2026-06-24T00:45:53.523' AS DateTime), CAST(25000.00 AS Decimal(10, 2)), N'Hazırlanıyor')
GO
SET IDENTITY_INSERT [dbo].[Siparisler] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Fiyat], [Stok], [Aciklama], [KategoriID]) VALUES (1, N'Lenovo LOQ', CAST(38999.00 AS Decimal(10, 2)), 9, N'Oyun Laptopu', 1)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Fiyat], [Stok], [Aciklama], [KategoriID]) VALUES (2, N'iPhone 16 Pro', CAST(80000.00 AS Decimal(10, 2)), 4, N'Akıllı telefon', 2)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Fiyat], [Stok], [Aciklama], [KategoriID]) VALUES (3, N'Samsung 75Q7F5', CAST(63799.00 AS Decimal(10, 2)), 2, N'QLED TV', 5)
GO
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yorumlar] ON 

INSERT [dbo].[Yorumlar] ([YorumID], [MusteriID], [UrunID], [Puan], [YorumMetni], [YorumTarihi]) VALUES (1, 1, 1, 5, N'Ürün çok kaliteli ve hızlı geldi.', CAST(N'2026-06-25T00:00:00.000' AS DateTime))
INSERT [dbo].[Yorumlar] ([YorumID], [MusteriID], [UrunID], [Puan], [YorumMetni], [YorumTarihi]) VALUES (2, 2, 2, 4, N'Telefon güzel fakat fiyatı yüksek', CAST(N'2026-06-24T00:00:00.000' AS DateTime))
INSERT [dbo].[Yorumlar] ([YorumID], [MusteriID], [UrunID], [Puan], [YorumMetni], [YorumTarihi]) VALUES (3, 1, 1, 5, N'Ürün beklediğimden çok daha kaliteli. Tavsiye ederim.', CAST(N'2026-06-28T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Yorumlar] OFF
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ_Musteriler_Email] Betik Tarihi: 6.07.2026 19:52:13 ******/
ALTER TABLE [dbo].[Musteriler] ADD  CONSTRAINT [UQ_Musteriler_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ_Musteriler_Telefon] Betik Tarihi: 6.07.2026 19:52:13 ******/
ALTER TABLE [dbo].[Musteriler] ADD  CONSTRAINT [UQ_Musteriler_Telefon] UNIQUE NONCLUSTERED 
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Musteriler] ADD  CONSTRAINT [DF_Musteriler_KayitTarihi]  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Adresler]  WITH CHECK ADD  CONSTRAINT [FK_Adresler_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Adresler] CHECK CONSTRAINT [FK_Adresler_Musteriler]
GO
ALTER TABLE [dbo].[Adresler]  WITH CHECK ADD  CONSTRAINT [FK_Adresler_Musteriler1] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Adresler] CHECK CONSTRAINT [FK_Adresler_Musteriler1]
GO
ALTER TABLE [dbo].[Kargo]  WITH CHECK ADD  CONSTRAINT [FK_Kargo_Siparisler] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[Kargo] CHECK CONSTRAINT [FK_Kargo_Siparisler]
GO
ALTER TABLE [dbo].[Kargo]  WITH CHECK ADD  CONSTRAINT [FK_Kargo_Siparisler1] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[Kargo] CHECK CONSTRAINT [FK_Kargo_Siparisler1]
GO
ALTER TABLE [dbo].[Kargo]  WITH CHECK ADD  CONSTRAINT [FK_Kargo_Siparisler2] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[Kargo] CHECK CONSTRAINT [FK_Kargo_Siparisler2]
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD  CONSTRAINT [FK_Odemeler_Siparisler] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[Odemeler] CHECK CONSTRAINT [FK_Odemeler_Siparisler]
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD  CONSTRAINT [FK_Odemeler_Siparisler1] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[Odemeler] CHECK CONSTRAINT [FK_Odemeler_Siparisler1]
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetay_Siparisler] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[SiparisDetay] CHECK CONSTRAINT [FK_SiparisDetay_Siparisler]
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetay_Siparisler1] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[SiparisDetay] CHECK CONSTRAINT [FK_SiparisDetay_Siparisler1]
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetay_Siparisler2] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[SiparisDetay] CHECK CONSTRAINT [FK_SiparisDetay_Siparisler2]
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetay_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[SiparisDetay] CHECK CONSTRAINT [FK_SiparisDetay_Urunler]
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetay_Urunler1] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[SiparisDetay] CHECK CONSTRAINT [FK_SiparisDetay_Urunler1]
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetay_Urunler2] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[SiparisDetay] CHECK CONSTRAINT [FK_SiparisDetay_Urunler2]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Musteriler]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Musteriler1] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Musteriler1]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Kategoriler] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Kategoriler]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Musteriler]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Musteriler1] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Musteriler1]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Urunler]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Urunler1] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Urunler1]
GO
/****** Nesnesi: StoredProcedure [dbo].[SiparisEkle] Betik Tarihi: 6.07.2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SiparisEkle]
	@MusteriID int,
	@ToplamTutar decimal(10,2)
as
begin
	insert into Siparisler
	(MusteriID ,SiparisTarihi, ToplamTutar, Durum)
	values
	(@MusteriID, GETDATE(), @ToplamTutar,'Hazırlanıyor')
end
GO
USE [master]
GO
